@charset "utf-8"

// -----------------------------------------------------------------------------
// Icons
// -----------------------------------------------------------------------------

@font-face
  font-family: 'Material Icons'
  src: url('../fonts/MaterialIcons/MaterialIcons-Regular.ttf') format('truetype')
  font-weight: 400
  font-style: normal

// -----------------------------------------------------------------------------
// Serif
// -----------------------------------------------------------------------------

@font-face
  font-family: 'SourceSerifPro-Regular'
  src: url('../fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf') format('truetype')

@font-face
  font-family: 'SourceSerifPro-SemiBold'
  src: url('../fonts/Source_Serif_Pro/SourceSerifPro-SemiBold.ttf') format('truetype')

@font-face
  font-family: 'SourceSerifPro-Bold'
  src: url('../fonts/Source_Serif_Pro/SourceSerifPro-Bold.ttf') format('truetype')

// -----------------------------------------------------------------------------
// Sans Serif
// -----------------------------------------------------------------------------

@font-face
  font-family: 'SourceSansPro-Regular'
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype')

@font-face
  font-family: 'SourceSansPro-SemiBoldItalic'
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBoldItalic.ttf') format('truetype')

@font-face
  font-family: 'SourceSansPro-SemiBold'
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf') format('truetype')

@font-face
  font-family: 'SourceSansPro-Bold'
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format('truetype')

@font-face
  font-family: 'SourceSansPro-Light'
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf') format('truetype')

@font-face
  font-family: 'SourceSansPro-ExtraLight'
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf') format('truetype')

// -----------------------------------------------------------------------------
// Mono
// -----------------------------------------------------------------------------

@font-face
  font-family: 'SourceCodePro-Regular'
  src: url('../fonts/Source_Code_Pro/SourceCodePro-Regular.ttf') format('truetype')

@font-face
  font-family: 'SourceCodePro-Light'
  src: url('../fonts/Source_Code_Pro/SourceCodePro-Light.ttf') format('truetype')
