@charset "utf-8"

font-family(font)
  font-family font
  font-weight normal
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

text-overflow-ellipsis()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
