@charset "utf-8"

.cards-wrapper
  width: auto
  height: 680px
  overflow: scroll

.cards-container
  position: relative
  display: flex
  justify-content: space-between

  .card
    position: relative
    cursor: pointer
    margin: 0 60px

    .face
      width: 400px
      height: 300px
      transition: 0.5s

      &.face1
        position: relative
        background: $color.dark
        display: flex
        justify-content: center
        align-items: center
        z-index: 1
        transform: translateY(200px)

        .content
          opacity: 0.5
          transition: 0.5s
          text-align: center

          img
            max-width: 100px

          h2
            margin: 0
            padding: 0
            color: $color.white
            text-align: center
            font-size: $fontsize.huge

      &.face2
        position: relative
        background: $color.white
        display: flex
        justify-content: center
        align-items: center
        padding: 20px
        box-sizing: border-box
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8)
        transform: translateY(-100px)

        .content
          p
            margin: 0
            padding: 0

          a
            background: $color.shadow
            color: $color.text
            font-family: $font.default
            display inline-block
            margin: 0 2px 4px
            padding: 1px 5px
            line-height: 1.1

            &:hover
              background: $color.primary
              color: $color.white
              text-decoration: none

    &:hover
      .face.face1
        background: $color.primary
        transform: translateY(0)

        .content
          opacity: 1

      .face.face2
        transform: translateY(0)
