@charset "utf-8"

.card
  background-color: $color.dark
  padding: 1rem
  margin: 2rem
  border-radius: $border-radius

  div
    display: inline

  h2
    color: $color.white
    cursor: pointer
    margin-bottom: 0.1em

    &:hover
      text-decoration: underline

  a
    color: $color.white
    cursor: pointer
    line-height: 1.6
    font-family: $font.default

    &:after
      content: '•'
      display: inline-block
      margin: 0 10px 0 8px

    &.last
      &:after
        display: none
