@charset "utf-8"

// -----------------------------------------------------------------------------
// Colours
// -----------------------------------------------------------------------------

$color = {
  primary: #F9423A
  black: rgb(0, 0, 0)
  white: rgb(255, 255, 255)
  dark: #35495e
  light: #9e9e9e
  shadow: #DFDFDF
  text: #2c3e50
}

for name, color in $color
  .background-{name}
    background-color: color
  .text-{name}
    color: color

// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------

$font = {
  default: "SourceSansPro-Regular"
  title: "SourceSerifPro-Regular"
  titleSemiBold: "SourceSerifPro-SemiBold"
  titleBold: "SourceSerifPro-Bold"
  emph: "SourceSansPro-SemiBoldItalic"
  bold: "SourceSansPro-Bold"
  semibold: "SourceSansPro-SemiBold"
  icon: "Material Icons"
  light: "SourceSansPro-Light"
  extralight: "SourceSansPro-ExtraLight"
  mono: "SourceCodePro-Regular"
}

for name, font in $font
  .font-{name}
    font-family: font

$fontsize = {
  default: 18px
  small: 0.75rem
  large: 1.15rem
  h1: 3.56rem
  h2: 2.92rem
  h3: 2.28rem
  h4: 1.15rem
  h5: 1rem
  h6: 1rem
}

// -----------------------------------------------------------------------------
// Layout
// -----------------------------------------------------------------------------

// Media Query Ranges
$small-screen-up = 601px
$medium-screen-up = 993px
$large-screen-up = 1201px
$small-screen = 600px
$medium-screen = 992px
$large-screen = 1200px

$spacing = 10px
$border-radius = .3rem
